h1 {
    text-align: center;
}


.list-element {
    border: 1px solid black;
    width: 300px;
    text-align: center;
    height: 30px;
}

div#border {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}