@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    background-color:  #151e3d;
}

.header {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 5rem;
}

.header span {
    font-size: 1.5rem;
    color: white;
    padding-left: 200px;
}

.form {
    display: flex;
    width: 50%;
    margin: auto;
    height: 50px;
}

input#input-text {
    border: none;
    border-bottom: 1px solid white;
    width: 70%;
    margin-right: 3rem;
    background-color:inherit;
    font-size: 1.5rem;
    color: white;
}

input#input-text:focus {
    outline: none;
}

input#input-text::placeholder {
    color: white;
    font-size:1.5rem;
    opacity: 0.5;
}

button#add-button {
    border: none;
    color: white;
    background-color: rgb(255, 35, 35);
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.container {
    border: 1px solid white;
    width: 75%;
    margin: auto;
    margin-top: 75px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    gap: 2em;
}

.element {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 40px 10%;
}

.city-name {
    padding-bottom: 70px;
}

.temp {
    padding-bottom: 180px
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        width: 100%;
    }

    .form {
        width: 75%;
    }
}