@media (max-width: 950px) {
    .toggle-button {
        display: flex;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        width: 100%;
        padding-top: 10px;
        z-index: 1;
        position: absolute;
        top: 3.5rem;
        clip-path: inset(0 0 100% 0);
        transition: all 800ms ease;

        ul {
            flex-direction: column;
            width: 100%;

            li {
                text-align: center;
                padding: 0.5rem;
                border-bottom: 1px solid white;
            }
        }
    }

    .nav-links.active {
        clip-path: inset(0 0 0 0);
    }
}

@media (max-width: 1000px) {
    body .landing-content {
        flex-direction: column;

        .col1 {
            width: 100%;
            
            p {
                width: 100%;
            }
        }

        .col2 {
            display: none;
        }
    }

    img {
        display: none; 
    }
}

@media (max-width: 1200px) {
    body .landing-content .col2 {
        img {
            height: 75%;
        }
    }
}