* {
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color:#fff;
    line-height: 1.6;
    height: 100vh;
    overflow:hidden;
}

.page {
    width:100%;
    height:100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    width: 100%;
    height:60px;
    background:rgba(0, 0, 0, 0.7);
}

.navbar ul {
    display:flex;
    list-style:none;
    width:100%;
    justify-content:center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}

.navbar ul li a:hover {
    color:skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height:100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size:4rem;
}

section p {
    font-size:1.5rem;
}

section p a {
    text-decoration: none;
    color: skyblue;
}

section#home {
    background: url("background-images/home.jpg") no-repeat center center/cover;
}

section#about {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;
}

section#projects {
    background: url('background-images/projects.jpg') no-repeat center center/cover;
}

section#project1 {
    background: url('background-images/projects.jpg') no-repeat center center/cover;
    justify-content:start;
    padding-top: 6rem;
}

section#project2 {
    background: url('background-images/projects.jpg') no-repeat center center/cover;
    justify-content:start;
    padding-top: 6rem;
}

section#contact {
    background: url('background-images/contact.jpg') no-repeat center center/cover;
}

section#projects ul {
    display:flex;
    list-style:none;
    width:100%;
    justify-content:center;
}

section#projects ul li {
    margin: 0 1rem;
    padding: 1rem;
}

section#projects ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}

section#projects ul li a:hover {
    color:skyblue;
}

section#about ul {
    display:flex;
    width:100%;
    justify-content:center;
}

section#about ul li {
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.proj-1-content{
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    grid-auto-rows: minmax(600px, auto);
}

.proj-1-content p {
    line-height: 1.6;
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    height: 155px;
}

.proj-1-content p#special {
    line-height: 1.6;
    color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    height: 155px;
    padding-top: 50px;
}

.proj-1-content img {
    padding-bottom: 10px;
}







