html, body {
    overflow:auto;
}

body { 
    margin: 0;
    background: linear-gradient(134deg, #000000, #100c08, #333333, #262626);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%;
    }
    50% {background-position: 100% 50%;
    }
    100% {background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: white;
    background-color: #e42024;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

div#introduction {
    display: block;
    height: 300px;
    width: 617px;
    overflow: hidden;
    padding: 2px;
    margin: auto;
}

div#introduction h2 {
    font-size: 28pt;
    text-align: left;
    height: 30px;
    width: 600px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 10px;
    margin: 5px;
}

div#introduction p {
    font-size:16pt;
    color: white;
    font-family:Arial, Helvetica;
    margin: 7px;
}

div#links p {
    text-align: center;
    font-family:Arial;
    font-size: 18pt;
    font-weight: bold;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

div#container {
    --content-width: calc((var(--column-count) * 200px) + 1px);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(var(--row-count) * 200);
    opacity: 1;
    overflow: hidden;
    padding: 2px;
    width: calc(var(--content-width) + 12px);
    margin-bottom: 8px;
    margin: auto;
    background-color: #e42024;
}

.tile {
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    box-sizing: border-box;
    outline: none;
    position: relative;
    opacity: 1;
    height: 200px;
    flex-direction: column;
    width: 200px;
    text-decoration: none;
}

.icon {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    width: 150px;
    margin-top: 16px;
    flex-shrink: 0;
    border-radius: 50%;
}

.icon img {
    height: 100px;
    width: 100px;
}

.tile-title {
    align-items: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 16pt;
        border-radius: 12px;
        color: white;
        display: flex;
        height: 32px;
        line-height: 16px;
        margin: 6px auto;
        padding: 2px 8px;
        width: 50%;
}

.tilt-title span {
    font-weight: 400;
        text-align: center;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}