@import 'colors';

$font-fam: Arial, Helvetica, sans-serif;

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $black-back;
    line-height: 1.6;
    font-family: $font-fam;
}

.card-container {
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
    perspective: 1000px;
    cursor: pointer;

    .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 800ms;

        .card-face {
            background-color: $light-red;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            border-radius: 10px;
        }

        .content-front {
            $paddingh1: 1rem;
            color: $font-col;
            padding: $paddingh1;
            position: absolute;
            bottom: 0;
            
            h1 {
                position: relative;
                font-size: 2.5rem;
                padding: $paddingh1;
                width: max-content;
                margin-top: 50px;
            }

            h1::after {
                content: "";
                position: absolute;
                height: 5px;
                width: 100%;
                background: $white;
                left: $paddingh1 * -1;
                bottom: 0;
            }

            p {
                margin-top: 25px;
                font-size: 19px;
            }

            .button {
                cursor: pointer;
                height: 40px;
                width: 100px;
                margin-top: 25px;
                border:none;
                border-radius: 10px;
                font-size: 1.1rem;
                transition: 200ms ease;
    
                &:hover {
                    background-color: #afafaf;
                }
            }
        }

        .content-back {
            color: $font-col;
            transform: rotateY(180deg);
            position: relative;
            
            p {
                position: absolute;
                bottom: 0;
                margin: 10px 5px;
                font-size: 19px;
            }
        }
    }

}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}
