@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// import functions and variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

// Color palette
$custom-palette: (
    "darkgreen": #61892f,
    "lightgreen": #86c232,
    "darkgrey": #222629,
    "medgrey": #474b4f,
    "lightgrey": #6b6e70
);

$theme-colors: map-merge($custom-palette, $theme-colors);
$theme-colors: map-merge($colors, $theme-colors);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';